
html, body {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    background-color: #111111;
    color: white;
}

:root {
    --color-splash-1: #00b0ff;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/JetBrainsMono.ttf') format('truetype');
}