.footer {
  position: fixed;
  bottom: 25px;
  right: 0; 
  width: 25px; 
  height: 300px;
}

.footerText { 
  transform: rotate(90deg);
  transform-origin: 0; 
  width: 400px; 
  font-size: min(9pt, 3vw); 
  color: #ffffff52;
}

@media (max-width: 600px) {
  .footerText {
    transform: rotate(0deg);
    width: 100%;
    text-align: center;
  }
  .footer {
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
  }
}