@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body {
	position: relative;
	height: unset;
	@apply bg-navy-900 text-white;
}
html,
body {
	margin: 0;
	padding: 0;
}
h1 {
	@apply font-display font-semibold text-[4rem];
}

* {
	box-sizing: border-box;
}
